<html>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} {% endif %}</title>
  <meta charset="utf-8" />
	<meta name="keywords" content="API, API Lifecycle, API Search, Application Programming Interface">
	<meta name="author" content="Kin Lane">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="https://kinlane-productions.s3.amazonaws.com/network/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://kinlane-productions.s3.amazonaws.com/network/css/main.css?1=1" />

	<link rel="shortcut icon" type="image/x-icon" href="https://apievangelist.com/favicon.ico">
	<link rel="icon" type="image/x-icon" href="https://apievangelist.com/favicon.ico">
	<link rel="icon" href="https://apievangelist.com/favicon.ico">

	<script src="https://kinlane-productions.s3.amazonaws.com/network/javascript/jquery-latest.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://kinlane-productions.s3.amazonaws.com/network/javascript/utility.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://kinlane-productions.s3.amazonaws.com/network/javascript/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

  <!-- Cookies.js - http://github.com/ScottHamper/Cookies -->
  <script src="https://kinlane-productions.s3.amazonaws.com/js/cookies.js"></script>

	<script src="https://kinlane-productions.s3.amazonaws.com/network/javascript/jquery.awesomeCloud-0.2.min.js"></script>

	<style type="text/css">
		.gist {width:100% !important;}
		.gist-file
		.gist-data {max-height: 500px;max-width: 100%;}
	</style>

</head>
