---
layout: default
title: Blog
---

<h2>API.json Blog</h2>

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% for post in paginator.posts %}
  {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
  {% if post.title != null %}
    {% if posttime < nowunix %}
      <h3><a href="{{ post.url }}" style="color:#000;">{{ post.title }}</a></h3>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.url }}" style="color:#000; text-decoration: none;">{{ post.content }}</a>
      <center><hr style="width: 75%;" /></center>
      {% endif %}
  {% endif %}
{% endfor %}

<ul class="pagination" style="text-align: center;">
  <li style="text-align:left;"><a href="/blog/page{{paginator.previous_page}}" class="button disabled"><< Prev</a></li>
  <li style="width: 75%"><span></span></li>
  <li style="text-align:right;"><a href="/blog/page{{paginator.next_page}}" class="button">Next >></a></li>
</ul>