---
layout: default
---

<div class="uk-section">
    <div class="uk-container uk-container-xsmall">
        <article class="uk-article">

            <h1 class="uk-article-title">{{ page.name | escape }}</h1>

            <div class="article-content" style="color: #000;">

                <!--<img src="{{ page.image }}" width="100" align="left" style="padding: 5px;">-->
                <span>{{ page.description }}</span>
                <br><br>
                <h2>Links</h2>
                <ul>
                    <li><a href="{{ page.humanURL }}" target="_blank">View API</a></li>
                </ul>     
                
                {% assign contact_count = page.contact | size %}
                    {% if contact_count > 0 %}                
                    <h2>Contact</h2>
                    {% for contact in page.contact %}
                    <ul>
                        {% if contact.organizationName %}      
                            <li>Name: {{ contact.organizationName }}</li>
                        {% else if contact.FN %}      
                            <li>Name: {{ contact.FN }}</li>
                        {% endif %}                            
                        {% if contact.url %}      
                            <li>URL: <a href="{{ contact.url }}">{{ contact.url }}</a></li>
                        {% endif %}
                        {% if contact.X-twitter %}      
                            <!--<li>Twitter: {{ contact.X-twitter }}</li>-->
                        {% endif %}                                                                     
                        {% if contact.email %}    
                            <li>Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
                        {% endif %}  
                    </ul> 
                    {% endfor %} 
                {% endif %}                   

                {% assign property_count = page.properties | size %}
                {% if property_count > 0 %}
                    <h2><a name="properties">Properties</a></h2>
                    <ul>
                    {% for property in page.properties %}

                        {% assign type = '' %}
                        {% include property-types.html %}                

                        <li><a href="{{ property.url }}" target="_blank" title="{{ property.type }}">{{ type }}</a></li>                        

                    {% endfor %}                   
                    </ul>
                {% endif %} 
                
                {% assign property_count = page.common | size %}
                {% if property_count > 0 %}
                    <h2><a name="properties">Common</a></h2>
                    <ul>
                    {% for property in page.common %}

                        {% assign type = '' %}
                        {% include property-types.html %}                

                        <li><a href="{{ property.url }}" target="_blank" title="{{ property.type }}">{{ type }}</a></li>                        

                    {% endfor %}                   
                    </ul>
                {% endif %}  

                <h2><a name="rating">Rating</a></h2>
                <ul>
                    <li>Score: {{ page.score }}</li>
                </ul>                   
                
                {% assign master_rules = site.data.rules %}
                {% assign rules = page.rules | split: "," %}
                {% assign rules_count = rules | size %}
                {% assign total_score = 0 %}
                {% if rules_count > 0 %}
                    <h2>Rules</h2>
                    <table style="width: 80%;" align="center">                

                    {% for rule in rules %}

                        {% assign rule_name = '' %}
                        {% assign rule_message = '' %}                    
                        {% for mrule in master_rules %}
                            {% if mrule.name == rule %}
                                {% assign rule_name = mrule.description %}
                                {% assign rule_message = mrule.message %}
                                {% assign rule_score = mrule.score %}
                            {% endif %} 
                        {% endfor %}     

                        <tr>
                            <td width="5%" style="text-align: center;">&#9989;</td>
                            <td width="85%">
                                {% if rule_name != '' %}
                                    <strong>{{ rule_name }}</strong>
                                {% else %}
                                    {{ rule }}
                                {% endif %} 
                            </td>
                            <td width="10%" style="text-align: center;">
                                {{ rule_score }}
                            </td>
                        </tr>  
                        
                        {% assign total_score = total_score | plus: rule_score %}

                    {% endfor %}    
                    <tr>
                        <td colspan="2" style="text-align: right;"><strong>Score:</strong></td>
                        <td width="10%" style="text-align: center;">
                            {{ total_score }}
                        </td>
                    </tr>                                     
                    </table>
                    <p align="center"><a href="../rules">View All Rules</a></p>
                {% endif %} 

            </div>

        </article>

        <script>
            // Table of contents scroll to
            UIkit.scroll('#markdown-toc a', {
                duration: 400,
                offset: 120
            });
        </script>

    </div>
</div>
